game/
content/
node_modules/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.lock
dota-data/files/localization/
dota-data/files/vscripts/
dota-data/files/abilities.json
dota-data/files/ability-hero-map.json
dota-data/files/heroes.json
dota-data/files/units.json
dota-data/files/images-manifest.json
dota-data/files/lib
moddota.github.io/public/localization-data/
moddota.github.io/public/images/spellicons/
moddota.github.io/public/images/items/
moddota.github.io/public/images/heroes/
moddota.github.io/node_modules
moddota.github.io/dist/
moddota.github.io/.astro/
dumper/console-raw.log
vpk/
*.vpk